<footer class="border-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-5 col-lg-6 justify-self-end container-fluid h-100">
          <div class="row align-self-center justify-content-center align-items-top mb-3">

            <div class="col col-12 text-center mt-3 mb-2">
              <a class="navbar-brand" href="/search"><i class="fi fi-rs-potato"></i>Rotten Potatoes</a>
            </div>


            <div class="col col-12 col-lg-4 mb-2 text-center">
              <h5 class="my-2">Contributors</h5>
              <div class="mb-1">
                <a href="https://github.com/cTangonan123" class="text-decoration-none"><i class="bi bi-github"></i> cTangonan123</a>
                </div>
                <div class="mb-1">
                  <a href="https://github.com/A-Lauper" class="text-decoration-none"><i class="bi bi-github"></i> A-Lauper</a>
                </div>
                <div class="mb-1">
                  <a href="https://github.com/RKaurGitHub" class="text-decoration-none"><i class="bi bi-github"></i> RKaurGitHub</a>
                </div>
                <div class="mb-1">
                  <a href="https://github.com/alexcbensen" class="text-decoration-none"><i class="bi bi-github"></i> alexcbensen</a>
                </div>
            </div>

            <div class="col col-12 col-lg-4 mb-2 text-center">
                <h5 class="my-2">Repository</h5>
                <a href="https://github.com/cTangonan123/cst336-rotten-potatoes" class="text-decoration-none"><i class="bi bi-github"></i> Rotten Potatoes</a>
            </div>

            <div class="col col-12 col-lg-4 mb-2 text-center">
              <h5 class="my-2">Resources</h5>
              <div class="mb-1">
                API: <a href="https://www.themoviedb.org/" class="text-decoration-none">TMDB</a>
              </div>
              <div class="mb-1">
                Login photo by <a href="https://unsplash.com/@felixmooneeram?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-decoration-none">F. Mooneeram</a>
              </div>
   
            </div>

            
          </div>
        </div>

        
      </div>
    </div>
</footer>
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

</script>        

    
</body>
</html>