<nav class="navbar navbar-expand bg-body-tertiary navbar-dark bg-dark py-3 fixed-top">
    <div class="container-fluid">
        
        
        <a class="navbar-brand" href="/search"><span
            class="badge rounded-pill write-review-btn px-3"
            >
            <img width="30" height="30" src="https://img.icons8.com/laces/64/potato.png" alt="potato" style="filter: invert(1);"/> Rotten Potatoes</a>
            </span
        >
        
      
        <div class="d-flex">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    
                    
                    <% if (typeof user_id === 'undefined') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/createNewAccount">Sign Up</a>
                        </li>
                    <%} else {%>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i> <%=user_name%>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/userProfile">Profile</a></li>
                                <li>
                                    <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Watchlist</a>
                                </li>
                                <li><a class="dropdown-item" href="/messages">Messages</a></li>
                                <%if (typeof is_admin !== 'undefined' && is_admin) {%>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="dropdown-item disabled">Admin</li>
                                    <li><a class="dropdown-item" href="/editUsers">Edit Users</a></li>
                                <%}%>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                            </ul>
                        </li>
                        
                        
                        <form class="d-none d-sm-flex navBarSearch" role="search" action="/search/results" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Search For a Movie" aria-label="Search" name="searchQuery">
                            <button class="btn write-review-btn" type="submit">Search</button>
                        </form>
                        
                        

                    <%}%>
                    

                </ul>
            </div>
        </div>
    </div>
</nav>