<nav class="navbar navbar-expand navbar-dark bg-dark py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/search"><i class="fi fi-rs-potato"></i>Rotten Potatoes</a>
        <div class="d-flex">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% if (typeof user_id !== 'undefined') { %>
                        <li class="nav-item">
                            <button class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Watchlist</button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/userProfile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/createNewAccount">Sign Up</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>