<div
  class="modal fade"
  id="reviewModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Write Review
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="#">
          <div class="container-fluid">
              <div class="row">
                <div class="col col-12">
                  <!-- TODO: userId value needs to be included on render of page -->
                  <input type="hidden" name="userId" id="rUserId" value="<%=user_id%>"> 
                  
                  <!-- movieId value needs to be included dynamically upon click -->
                  <input type="hidden" name="movieId" id="rMovieId"> 
                </div>
              </div>
              <div class="row">
                <div class="form-floating mb-3 col-12">
                  <input
                    type="text"
                    class="form-control"
                    name="rTitle"
                    id="rTitle"
                    placeholder="Title"
                    required
                  />
                  <label for="rTitle">Title</label>
                </div>
                <div class="mb-3 col-12">
                  <label for="rRating" class="form-label">Rating</label>
                  <select
                    class="form-select form-select-lg"
                    name="rRating"
                    id="rRating"
                  >
                    <option selected value="">Select an Option</option>
                    <% for (let i = 0; i <= 10; i++) { %>
                      <option value="<%=i%>">
                        <%=i%>
                      </option>
                      
                      
                    <%}%>
                  </select>
                </div>     
              </div>
              <div class="row">
                <div class="col col-12">
                  <div class="form-group">
                    <label for="review">Review</label>
                    <textarea
                      class="form-control"
                      name="rReview"
                      id="rReview"
                      rows="3"
                      placeholder="Write your review here"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            >
            Close
          </button>
          <button type="submit" class="btn btn-primary rBtnSave">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/reviewModal.js"></script>
