<%- include('partials/header.ejs', { "pageTitle":'About' }) %>
<body>
<%- include('partials/nav.ejs') %>

<div class="container mt-5 pt-5">
    <div class="row mx-4 text-center">
        

        <h2 class="mt-2 mb-4">Our Team</h2>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3 custom-hover">
                <a href="https://github.com/cTangonan123" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/161169629?v=4" class="rounded-pill w-25" alt="Avatar">
                            <h5 class="mt-2">Christopher Tangonan</h5>
                            <p>Lead Contributor</p>
                            <p class="text-start mb-1">Contributions:</p>
                                <ul class="text-start">
                                    <li>Item</li>
                                    <li>Item</li>
                                    <li>Item</li>
                                </ul>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col mb-3 custom-hover">
                <a href="https://github.com/A-Lauper" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/92954895?v=4" class="rounded-pill w-25" alt="Avatar">
                            <h5 class="mt-2">Arielle Lauper</h5>
                            <p>Contributor</p>
                            <p class="text-start mb-1">Contributions:</p>
                                <ul class="text-start">
                                    <li>Item</li>
                                    <li>Item</li>
                                    <li>Item</li>
                                </ul>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3 custom-hover">
                <a href="https://github.com/RKaurGitHub" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/111333874?v=4" class="rounded-pill w-25" alt="Avatar">
                            <h5 class="mt-2">Ranjita Kuar</h5>
                            <p>Beta Contributor</p>
                            <p class="text-start mb-1">Contributions:</p>
                                <ul class="text-start">
                                    <li>Item</li>
                                    <li>Item</li>
                                    <li>Item</li>
                                </ul>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3 custom-hover">
                <a href="https://github.com/alexcbensen" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/43506360?v=4" class="rounded-pill w-25" alt="Avatar">
                            <h5 class="mt-2">Alex Bensen</h5>
                            <p>Beta Contributor</p>
                            <p class="text-start mb-1">Contributions:</p>
                                <ul class="text-start">
                                    <li>Item</li>
                                    <li>Item</li>
                                    <li>Item</li>
                                </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="mt-2 mb-4">Technologies Used</h2>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-3 custom-hover">
                <a href="https://nodejs.org/en" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4>Node.js</h4>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col mb-3 custom-hover">
                <a href="https://www.npmjs.com/package/express" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4>Express</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3 custom-hover">
                <a href="https://getbootstrap.com/" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4>Bootstrap</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mb-3 custom-hover">
                <a href="https://www.npmjs.com/package/mysql2" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h4>MySQL2</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="mt-2 mb-4">Resources & Insperation</h2>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-3 custom-hover">
                <a href="https://www.rottentomatoes.com/" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-1">Inspired by</p>
                            <h4>Rotten Tomatoes</h4>
                            <p>Visit their site</p>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col mb-3 custom-hover">
                <a href="https://www.themoviedb.org/" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-1">Movie data fetched from</p>
                            <h4>TMDB API</h4>
                            <p>Visit thier site</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3 custom-hover">
                <a href="https://unsplash.com/@felixmooneeram?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="/" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-1">Login photo by</p>
                            <h4>Felix Mooneeram</h4>
                            <p>See his work</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
       
    </div>
  </div>

<%- include('partials/sidebarWatchlist.ejs') %>
<%- include("partials/footer.ejs") %>