<%- include('partials/header.ejs', { "pageTitle":'About' }) %>
<body>
<%- include('partials/nav.ejs') %>

<div class="container mt-5 pt-5">
    <div class="row mx-4 text-center">
        

        <h2 class="mt-2 mb-4">Our Team</h2>

        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3">
                <a href="https://github.com/cTangonan123" target="/" class="text-decoration-none">
                    <div class="card h-100 custom-hover">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/161169629?v=4" class="rounded-pill w-25" alt="Avatar">
                            <h5 class="mt-2">Christopher Tangonan</h5>
                            <p>Team Lead</p>
                            <p class="text-start mb-1">Contributions:</p>
                                <ul class="text-start">
                                    <!-- <li>Planning & Management</li>
                                    <li>Database Design</li>
                                    <li>Login Page - Full Stack</li>
                                    <li>Search Page - Full Stack</li>
                                    <li>Movie Description Page - Full Stack</li>
                                    <li>Profile Page - Full Stack </li>
                                    <li>Social Profile Page - Full Stack </li>
                                    <li>Messages - Full Stack </li>
                                    <li>Watchlist - Full Stack </li>
                                    <li>Search Results Page - Collaborate, Full Stack</li>
                                    <li>Sessions </li> -->
                                    <li class="mb-md-3">Planning & Management</li>
                                    <li class="mb-md-3">Database Design & Implementation</li>
                                    <li class="mb-md-3">Route Design & Implementation</li>
                                    <li class="mb-md-3">Authentication & Authorization</li>
                                    <li class="mb-md-3">Implementation of Bootstrap</li>
                                    <li class="mb-md-3">Client-Side Javascript</li>
                                </ul>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col mb-3">
                <a href="https://github.com/A-Lauper" target="/" class="text-decoration-none">
                    <div class="card h-100 custom-hover">
                        <div class="card-body">
                            <img src="https://avatars.githubusercontent.com/u/92954895?v=4" class="rounded-pill w-25" alt="Avatar">
                            <h5 class="mt-2">Arielle Lauper</h5>
                            <p>Team Collaborator</p>
                            <p class="text-start mb-1 mb-md-3">Contributions:</p>
                                <ul class="text-start">
                                    <!-- <li class="mb-md-3">UI/UX Mockups</li>
                                    <li class="mb-md-3">Account Creation Page - Full Stack</li>
                                    <li class="mb-md-3">About Page - Full Stack</li>
                                    <li class="mb-md-3">Admin Edit Users Page - Front End</li>
                                    <li class="mb-md-3">Search Results Page - Collaborate, Full Stack</li>
                                    <li>Profile Page - Assist, Front End</li> -->
                                    <li class="mb-md-3">UI/UX Design Mockups</li>
                                    <li class="mb-md-3">Client-Side Routing</li>
                                    <li class="mb-md-3">Server-side Routing</li>
                                    <li class="mb-md-3">Authentication & Authorization</li>
                                    <li class="mb-md-3">Implementation of Bootstrap</li>
                                    <li class="mb-md-3">Client-Side Javascript</li>
                                </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        
        <h4 class="mt-2 mb-4">Contributors</h4>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3">
                <a href="https://github.com/RKaurGitHub" target="/" class="text-decoration-none">
                    <div class="card h-100 custom-hover">
                        <div class="card-body">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <img src="https://avatars.githubusercontent.com/u/111333874?v=4" class="rounded-pill w-25" alt="Avatar">
                                    <h5 class="mt-2">Ranjita Kuar</h5>
                                </div>
                                <div class="col-8 ps-0">
                                    <p class="text-start mb-1 ms-3">Contributions:</p>
                                    <ul class="text-start">
                                        <li>Search Page - Assist, Front End</li>
                                        <li>Presentation Slides</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3">
                <a href="https://github.com/alexcbensen" target="/" class="text-decoration-none">
                    <div class="card h-100 custom-hover">
                        <div class="card-body">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <img src="https://avatars.githubusercontent.com/u/43506360?v=4" class="rounded-pill w-25" alt="Avatar">
                                    <h5 class="mt-2">Alex Bensen</h5>
                                </div>
                                <div class="col-8 ps-0">
                                    <p class="text-start mb-1 ms-3">Contributions:</p>
                                    <ul class="text-start">
                                        <li>Admin Edit Users - Back End</li>
                                        <li>Sessions - Assist</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="mt-4 mb-4">Technologies Used</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col mb-3">
                <a href="https://nodejs.org/en" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <h4>Node.js</h4>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col mb-3">
                <a href="https://www.npmjs.com/package/express" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <h4>Express</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3">
                <a href="https://getbootstrap.com/" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <h4>Bootstrap</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col mb-3">
                <a href="https://www.npmjs.com/package/mysql2" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <h4>MySQL2</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <h2 class="mt-4 mb-4">Resources & Inspiration</h2>
        <div class="row row-cols-1 row-cols-md-3 mb-3">
            <div class="col mb-3">
                <a href="https://www.rottentomatoes.com/" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <p class="mb-1">Inspired by</p>
                            <h4>Rotten Tomatoes</h4>
                            <p>Visit their site</p>
                        </div>
                    </div>
                </a>
            </div>

            
            <div class="col mb-3">
                <a href="https://www.themoviedb.org/" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <p class="mb-1">Movie data fetched from</p>
                            <h4>TMDB API</h4>
                            <p>Visit their site</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col mb-3">
                <a href="https://unsplash.com/@felixmooneeram?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="/" class="text-decoration-none">
                    <div class="card custom-hover">
                        <div class="card-body">
                            <p class="mb-1">Login photo by</p>
                            <h4>Felix Mooneeram</h4>
                            <p>See his work</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
       
    </div>
  </div>

<%- include('partials/sidebarWatchlist.ejs') %>
<%- include("partials/footer.ejs") %>