<%-include('partials/header.ejs', {"pageTitle": 'Messages'})%>
<body>
  <%-include('partials/nav.ejs')%>
  <h1>Hello world</h1>

<%- include("partials/sidebarWatchlist.ejs") %>
<%-include('partials/footer.ejs')%>